.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

app/app.iml

app/src/main/res/layout/temp\.xml

app/src/main/res/layout/temp2\.xml

QuickTaxi1\.iml

app/src/main/res/old_drawable_resources\.zip

app/src/main/res/layout/temp3\.xml
